
	#content {
		font-family: Arial;
		width: 900px;
		margin: 0 auto;
		color: #555;
		font-size: 13px;
	}
	
	header {
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #ccc;
	}
	#slider {
		width: 300px;
		margin: 0 auto;
		clear:both;
		position: absolute;
		top: 200px;
		left: 300px;
	}

	#s1 {
		float:left;
	}
	#s2 {
		float:right;
	}

	.video {
		clear:both;
	}
	a, a:link, a:hover {
		color: #555;
	}
	a:active {
		color: #955;
	}
	.player-container {
		width: 440px;
		float:left;
	}
	
	.search-results {
		text-align:left;
		padding-right: 20px;
	}
	.search-results div {
		margin-bottom: 5px;
		padding-top: 5px;
		border-top: 1px solid #999;
		clear:left;
	}
	.search-results div:first-child {
		border: 0;
	}
	.search-results img {
		float:left;
		width: 80px;
		height: 60px;
		margin: 0 10px 0 0;
	}

	#content {
		padding-bottom: 30px;
		position:relative;
	}

	footer {
		background-color: rgba(255,255,255,0.7);
		clear:both;
		position:fixed;
		bottom: 0;
		width: 100%;
		height: 40px;
		padding-top: 5px;
		border-top: 1px solid #eee;
	}
	
	footer .inner {
		width: 900px;
		margin: 0 auto;		
	}
	
	.clear {
		clear:both;
	}
	
	#player2 {
		float: right;
		text-align:right;
	}
	
	#player2 .search-results div img {
		float: right;
		margin: 0 0 0 10px;
	}
	#player2 .search-results div  {
		text-align:right;
	}
	
	.player-container form input {
		width: 315px;
	}
	#player2 form input {
		margin-right: 3px;
	}
	
	h1 span.two {
		padding: 5px 3px 5px 0;
	}
	h1 span.tube {
		background-color: red;
		color: white;
		padding: 5px 8px;
	}
	
	h1,h2 {
		width: 50%;
		float: left;
	}
	
	h2 {
		text-align:right;
		font-size: 2em;
	}

footer .share {
	width: 500px;
	float:left;
}

footer .credits {
	width: 350px;
	float:right;
	text-align:right;
}
